SUBSYSTEM=="hidraw", ATTRS{idVendor}=="10f5", ATTRS{idProduct}=="224c", MODE="0664", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="10f5", ATTRS{idProduct}=="224c", MODE="0664", GROUP="plugdev"